@import "variables";
#waist{
	min-height: 450px;
}

.hiddenfile {
 width: 0px;
 height: 0px;
 overflow: hidden;
}
.navbar.navbar-thin .nav > li > a.navbar-brand{
  padding:0 20px;
  float:none;
}
.navbar.navbar-thin .nav > li > a {
	padding: 11px 20px;
}
.navbar.navbar-thin .navbar-brand {
	padding: 0 17px;
}
.navbar.navbar-thin .navbar-inner {
	background: @sun-flower;
}
.navbar .nav > li > a {
  color: white;

  &:hover,
  &:focus {
    color: @midnight-blue;
    background-color: transparent;
  }
}

// .nav .back-button{
//   -moz-box-sizing: border-box;
//   font-size: 15px;
//   font-weight: 700;
//   line-height: 28px;
//   padding: 22px 20px;
//   text-shadow: none;
//   transition: background-color 0.25s ease 0s, color 0.25s ease 0s, border-bottom-color 0.25s ease 0s;
// }
.bottom-menu.yes-footer {
  background: @sun-flower;
  color: white;
  a {
    color: inherit;
    .active &,
    &:hover,
    &:focus {
      color: @midnight-blue;
    }
  }
}
.tag-list-name{
  padding:60px 0;
}