{% extends "design/header.html" %}
{% block content %}
<div class="row search-now">
  <div class="col-md-3 col-md-offset-2 report-tag-call">
    <p>Found a tag? Report it now <span class="fui-arrow-right"></span></p>
  </div>
  <div class="col-md-4">
    <form action="{% url "search" %}" method="post">{% csrf_token %}
      <input name="q" class="form-control search-tag" placeholder="Search"> <button type="submit" class="btn btn-primary">Report It</button></p>
    </form>
  </div>
</div>
  <div class="row landing-section video-block">
    <div class="col-md-4 col-md-offset-1">
      <h1 class="lead">Never lose anything again!</h1 class="lead">
      <p>Check out our video <span class="fui-arrow-right"></span></p>
    </div>
    <div class="col-md-5">
      <img src="{{STATIC_URL}}img/landing/laptop.png" >
    </div>
  </div>
  <div class="row call-to-action dark">
    <p>Buy your first set of YesTags now and get a 30% discount! <button class="btn btn-primary ">Go to store</button> </p>
  </div>
  <div class="row landing-section fast-start image-background">
    <div class="col-md-6 col-md-offset-1 ">
      <h1 class="lead">Get Started in Minutes</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <div class="recommend">
        <img src="{{STATIC_URL}}img/landing/face2.png">
        <div class="quote">"I really love what they've done with the place."</div>
        <div class="client"> - Jared Martin</div>
      </div>
    </div>
  </div>
  <div class="row call-to-action dark">
    <p>What are you waiting for? <button class="btn btn-primary ">Get started now!</button> </p>
  </div>
  <div class="row landing-section work-for-you">
    <div class="col-md-5 col-md-offset-1 ">
      <h1 class="lead">YesTags work for you</h1>
      <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Consectetuer adipiscing elit</li>
        <li>Sed diam nonummy</li>
      </ul>
      <div class="recommend">
        <img src="{{STATIC_URL}}img/landing/face1.png">
        <div class="quote">"I can't believe it's not butter!"</div>
        <div class="client"> - Francis Bacon</div>
      </div>
    </div>
    <img src="{{STATIC_URL}}img/landing/workforyou.png" >
  </div>
  <div class="row landing-section international image-background">
    <div class="col-md-6 col-md-offset-1 ">
      <h1 class="lead">International Coverage</h1>  
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <div class="recommend">
        <img src="{{STATIC_URL}}img/landing/face4.png">
        <div class="quote">"A word to the wise ain't necessary - it's the stupid ones that need the advice."</div>
        <div class="client"> - Bill Crosby</div>
      </div>
    </div>
  </div>
  <div class="row call-to-action dark">
    <p>Find the perfect tags for your next vacation <button class="btn btn-primary ">in the store</button> </p>
  </div>

  <div class="row landing-section light">
    <div class="col-md-6 col-md-offset-1 ">
      <h1 class="lead">Safe, Durable & Light Weight</h1>
      <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip:</p>
      <div class="recommend">
        <img src="{{STATIC_URL}}img/landing/face2.png">
        <div class="quote">"Behind every great man is a woman rolling her eyes."</div>
        <div class="client"> - Jim Carrey</div>
      </div>
    </div>
    <div class="col-md-5">
      <img src="{{STATIC_URL}}img/landing/light.png" >
    </div>
  </div>
  <div class="row landing-section instant image-background">
    <div class="col-md-6 col-md-offset-1 ">
    <h1 class="lead">24x7 Instant Notification via Email & SMS</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <div class="recommend">
        <img src="{{STATIC_URL}}img/landing/face2.png">
        <div class="quote">"A day without sunshine is like, you know, night."</div>
        <div class="client"> - Steve Martin</div>
      </div>
    </div>
  </div>

  <div class="row landing-section pets">
    <div class="col-md-6 col-md-offset-1">
      <h1 class="lead">YesTags for your Pets too!</h1>
      <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Consectetuer adipiscing elit</li>
        <li>Sed diam nonummy</li>
      </ul>
      <div class="recommend">
        <img src="{{STATIC_URL}}img/landing/face1.png">
        <div class="quote">"If the facts don't fit the theory, change the facts."</div>
        <div class="client"> - Albert Einstein</div>
      </div>
    </div>
    <div class="col-md-5">
      <img src="{{STATIC_URL}}img/landing/pets.png" >
    </div>
  </div>
  <div class="row call-to-action dark">
    <p><button class="btn btn-primary ">Go to the store</button> to find the perfect tag for your furry friend!  </p>
  </div>
  
  <div class="row landing-section compatible">
    <div class="col-md-5 col-md-offset-1 ">
      <h1 class="lead">Compatible with All Major Email & Cellular Providers</h1>
      <div class="recommend">
        <img src="{{STATIC_URL}}img/landing/face4.png">
        <div class="quote">"If the facts don't fit the theory, change the facts."</div>
        <div class="client"> - Albert Einstein</div>
      </div>
    </div>
    <div class="col-md-5">
      <img src="{{STATIC_URL}}img/landing/compatible.png" >
    </div>
  </div>
  <div class="row landing-section lifetime image-background">

    <div class="col-md-5 col-md-offset-6 ">
    <h1 class="lead">Lifetime Service</h1>  
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <div class="recommend">
        <img src="{{STATIC_URL}}img/landing/face2.png">
        <div class="quote">"If the facts don't fit the theory, change the facts."</div>
        <div class="client"> - Albert Einstein</div>
      </div>
    </div>
  </div>
  <div class="row landing-section guarantee">

    <div class="col-md-5 col-md-offset-1">
      <img src="{{STATIC_URL}}img/landing/guarantee.png" >
    </div>
    <div class="col-md-5 ">
      <h1 class="lead">300% Money Back Guarantee</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <div class="recommend">
        <img src="{{STATIC_URL}}img/landing/face1.png">
        <div class="quote">"If the facts don't fit the theory, change the facts."</div>
        <div class="client"> - Albert Einstein</div>
      </div>
    </div>
  </div>
  <div class="row call-to-action dark">
    <p>Try it out for yourself <button class="btn btn-primary ">Go to store</button> </p>
  </div>
{% endblock content %}