{% extends "design/header.html" %}
{% block content %}
  <div class="row" id="name-section">
    <div class="col-md-6 col-md-offset-3 page-header">
      <h1 id="tag_name">{{object.name}}</h1>
      <div class="col-md-2 tag-code">
        {{object.code}}
      </div>
      <div class="col-md-2 col-md-offset-6">
        <a id="renameTagModal" href="#">Rename</a>
      </div>
    </div>
  </div>
  <div class="row" id="reward-section">
    <div class="col-md-6 col-md-offset-3">
      {% if object.reward %}
        <span class="tag-reward">Reward:</span> <span id="tag_reward" class="tag-reward">{{object.reward}}</span> <a id="rewardTagModal" href="#">Change reward</a>
      {% else %}
        <span class="tag-reward">Reward:</span> <span id="tag_reward" class="tag-reward"></span><a id="rewardTagModal" class="tag-reward" href="#">Add a reward to ensure safe return of your item!</a>
      {% endif %}
    </div>
  </div>
  <div class="row" id="image-section">
    <div class="col-md-4 col-md-offset-4">
      <img id="tag-image" src="{% if object.image %}{{object.image.url_300x250}}{% else %}{{STATIC_URL}}img/big-sample.gif{% endif %}">
    </div>
    <div class="col-md-3 col-md-offset-6">
      <a href="#" onclick="$('#image_browser').trigger('click');">Change Photo</a>
    </div>
    <div class="hiddenfile">
      <form id="image-form" action="{% url "change_image" object.pk %}" method="post">
        {% csrf_token %}
        <input name="image" type="file" id="image_browser"/>
      </form>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6 col-md-offset-3 ">
      <a class="show-hide-history" onclick="$('.history-section').toggle(); return false;" href="#">Show History</a>
    </div>
  </div>
  <div class="history-section" style="display:none;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 ">
        <h3>History</h3>
      </div>
    </div>
    <div id="events">
      {% for event in object.events.all %}
        {% include 'tags/event.html' %}
      {% endfor %}
    </div>
  </div>
  <div id="ajax-data" style="display: none;"></div>
{% endblock content %}
{% block js %}
  <script src="{{STATIC_URL}}js/bootbox.min.js"></script>
  <script src="{{STATIC_URL}}js/jquery.form.js"></script>
  <script type="text/javascript">
    function updateTagName(data, result){
      d=saveDataInCache(data);
      updateMessages(d);
      $('#tag_name').html($('#id_name',d).val());
    }
    function updateTagReward(data, result){
      d=saveDataInCache(data);
      updateMessages(d);
      var reward = $('#id_reward',d).val();
      if (reward){
        $('#tag_reward').html($('#id_reward',d).val());
        $('#rewardTagModal').html('Change Reward');
        $('#rewardTagModal').removeClass('tag-reward');
      } else {
        $('#tag_reward').html('');
        $('#rewardTagModal').html('Add a reward to ensure safe return of your item!');
        $('#rewardTagModal').addClass('tag-reward');
      }
    }
    function updateTagImage(data, result){
      d=saveDataInCache(data);
      updateMessages(d);
      $("#tag-image").attr("src",$('#image-src-data',d).html());
    }
    $(document).on("change", "#image_browser", function(e) {
      $('#image-form').submit(); 
    });
    $(document).on("click", "#renameTagModal", function(e) {
      bootbox.prompt({
        title: "Choose a name for this tag.",
        value: $('#tag_name').html(),
        callback: function(result) {
          if (result != null) {
            url='{% url "change_name" tag.pk %}';
            data={name: result, csrfmiddlewaretoken:$("input[name='csrfmiddlewaretoken']").val()};
            $.ajax({
              url: url,
              type:'POST',
              data:data,
              success: updateTagName,
            });
          }
        }
      });
    });
    $(document).on("click", "#rewardTagModal", function(e) {
      bootbox.prompt({
        title: "How much will you offer as a reward if this item is found? Please specify in INR",
        value: $('#tag_reward').html(),
        callback: function(result) {
          if (result != null) {
            url='{% url "change_reward" tag.pk %}';
            data={reward: result, csrfmiddlewaretoken:$("input[name='csrfmiddlewaretoken']").val()};
            $.ajax({
              url: url,
              type:'POST',
              data:data,
              success: updateTagReward,
            });
          }
        }
      });
    });
    $(document).ready(function() { 
      $('#image-form').ajaxForm(updateTagImage); 
    });
  </script>
{% endblock js %}
