{% extends "design/header.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2 page-header">
			<h1>My Yes Tagged Items</h1>
		</div>
	</div>
	{% if not object_list %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<a class="lead" href="{% url "register" %}">Get started now by registering a tag!</a>
			</div>
		</div>
	{% endif %}
	{% for tag in object_list %}
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<img src="{% if tag.image %}{{tag.image.url_200x150}}{% else %}{{STATIC_URL}}img/small-sample.gif{% endif %}">
			</div>
			<div class="tag-list-name col-md-3">
				<a class="lead" href="{% url "edit_tag" tag.pk %}">{{tag}}</a>
			</div>
		</div>
	{% endfor %}
{% endblock content %}
{% block blockname %}
	<li class="active"><a href="#">Back to Home</a></li>
{% endblock blockname %}