{% extends "design/header.html" %}
{% block content %}
  <div class="row" id="name-section">
    <div class="col-md-8 col-md-offset-2 page-header">
      <h1 id="tag_name">Owner of Tag Identified!</h1>
    </div>
  </div>
  <div class="row" id="image-section">
    <div class="col-md-4 col-md-offset-2">
      <img id="tag-image" src="{{object.image.url_300x250}}">
    </div>
    <div class="col-md-4">
      <p class="row">
        <span class="col-md-4 lead">Owner:</span>
        <span class="col-md-8">{{object.owner.get_full_name}}</span>
      </p>
      <p class="row">
        <span class="col-md-4 lead">Location:</span>
        <span class="col-md-8">{{object.owner.city}}</span>
      </p>
      <div class="row">
        <div class="col-md-12">
          {% if user.is_authenticated %}
            <form action="{% url "report" object.pk %}" method="post">{% csrf_token %}
              <button class="btn btn-primary" type="submit">Report as Found!</button>
            </form>
          {% else %}
            <a class="btn btn-primary" href="{% url "report" object.pk %}">Report as Found!</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div id="ajax-data" style="display: none;"></div>
{% endblock content %}
