<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="navbar navbar-thin">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
          </button>
          <a href="#fakelink" class="navbar-brand"><img src="{{STATIC_URL}}img/YesTagsLogo.gif"></a>
          <div class="nav-collapse collapse in" id="nav-collapse-01">
            <ul class="nav">
              <li><a href="#">Store</a></li>
              <li><a href="#">How it Works</a></li>
              <li><a href="#">Search</a></li>
              <li><a href="#">Register a Tag</a></li>
              <li><a href="#">Login / Signup</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> <!-- /navbar -->
  </div>
</div>