ul {
  text-decoration: none;
}
.alert-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}
#waist {
  min-height: 450px;
}
.input-row {
  margin-bottom: 15px;
}
.hiddenfile {
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.navbar.navbar-thin .nav > li > a.navbar-brand {
  padding: 0 20px;
  float: none;
}
.navbar.navbar-thin .nav > li > a {
  padding: 11px 20px;
}
.navbar.navbar-thin .navbar-brand {
  padding: 0 17px;
}
.navbar.navbar-thin .navbar-inner {
  background: #f1c40f;
}
.navbar .nav > li > a {
  color: white;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #2c3e50;
  background-color: transparent;
}
.bottom-menu.yes-footer {
  background: #f1c40f;
  color: white;
}
.bottom-menu.yes-footer a {
  color: inherit;
}
.active .bottom-menu.yes-footer a,
.bottom-menu.yes-footer a:hover,
.bottom-menu.yes-footer a:focus {
  color: #2c3e50;
}
.tag-list-name {
  padding: 60px 0;
}
