.recommend {
  margin-top:20px;
  /*font-weight: 300;*/
}
.recommend .client{
  font-size: 1.2em;
  float:right;
  text-align:right;
  width:75%;
  margin-left:15px;
}
.event-message a{
  color: #B94A48;
  font-weight: normal;
}
.recommend .quote{
  font-size: 1.5em;
  float:left;
  width:75%;
  margin-left:15px;
}
.recommend img{
  width:64px;
  height:64px;
  float:left;
  border-radius: 24px;
}
#header.container, #waist.container  {
  width:100%;
  max-width:none;
  padding-left: 0;
  padding-right: 0;
  margin-left:0;
  margin-right:0;
}
.search-now p{
  font-size: 1.5em;
}
.search-now input.form-control{
  width:70%;
  display:inline;
}
.report-tag-call{
  text-align: right;
}
ul {
  text-decoration: none;
}
.video{
  height:500px;
  /*width:100%;*/
  text-align: center;
}
video {
  left:0;
  position:relative;
  top:0;
  opacity: 0.7;
  /*top: 130px;*/
  width: 100%; 
  height: 500px;
}
.video p{
  position:relative;
  top:-390px;
  text-align: center;
  color:white;
  font-size: 4em;
  font-weight: 300;
}
.video .play {
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid #FFFFFF;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 67px;
  line-height: 59px;
  outline: medium none;
  position: relative;
  top:-380px;
  /*left:600px;*/
  /*left:600px;*/
  /*top:220px;*/
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  transition: all 0.4s ease 0s;
  width: 67px;
    /*height: auto;*/
    /*margin: 0 auto;*/
    /*padding: 10px;*/
    /*position: relative;*/
}
.video .fui-play {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: normal;
  left: 4px;
  position: relative;
  top: 1px;
}
.video .sdf{
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 100;
  margin: 20px 55px;
  opacity: 0;
  text-transform: uppercase;
  transition: all 1s ease 0s;
}
.video .videoRow{
  position: relative;
  /*top:-300px;*/
  width:100%;
  top:-350px;
}
.video .videoRow img{
    display:inline-block;
    /*margin:5px 10%;*/
    /*padding:5px;*/
    
    border:1px solid #CCC;
    /*height: 75px;*/
    margin: 5px 5%;
    padding: 5px;
    width: 150px;
    opacity: 0.8;
}


.row{
  margin-left: 0;
  margin-right: 0;
}
#navbar .navbar-inner{
  border-radius: 0;
}
/*div.video-block img {
  position: relative;
  top: -50px;
}
div.video-block {
  height: auto;
  margin-top:100px;
}*/
.landing-section.video-block h1.lead{
  margin-top:50px;
}
.landing-section h1.lead {
  font-size: 3.5em;
  margin-top: 30px;
}
.landing-section li {
  font-size: 2em;
  font-weight: 200;
}
.landing-section p {
  font-size: 1.6em;
  font-weight: 200;
  text-align: left;
  line-height: 1.5;
}
.landing-section p a{
  color:#519ac7;
}
.landing-section {
  height: 500px;
 /* margin-top: 50px;
  margin-bottom: 50px;*/
  /*padding-top: 110px;*/
}
.modal-body img{
  max-width:100%;
}
.call-to-action {
  background: none repeat scroll 0 0 #F1C40F;
  color: #FFFFFF;
  border-radius: 6px;
  text-align: center;
  padding-top: 20px;
  height: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.call-to-action.dark {
  background: none repeat scroll 0 0 #2C3E50;
}
.call-to-action.dark button{
  background-color:  #F1C40F;
}
div.compatible img{
 margin-top:110px;
}
div.compatible .recommend img{
 margin-top:0;
}
div.fast-start {
  background: white url('/static/img/landing/jog.png') no-repeat border-box center;
  /*color: white;*/
}
div.light img {
  margin-top: 170px;
}
div.light .recommend img {
  margin-top: 0;
}
.landing-section.light h1.lead {
  /*margin-top:120px;*/
}
div.work-for-you img {
  position: relative;
  /*top: -100px;*/
}

div.pets img {
  position: relative;
  /*top: -110px;*/
}
div.landing-section.image-background{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.international {
  background: white url('/static/img/landing/map.jpg') no-repeat border-box center;
  /*color:white;*/
}
div.international h1.lead{
  margin-top: 0;
}
div.international-block{
  background-color: rgba(255,255,255,0.7);
  border-radius: 6px;
  height:460px;
  margin:20px;
  padding-left:20px;
  padding-right:20px;
}
div.international h1 {
  text-align: left;
}
div.lifetime {
  background: white url('/static/img/landing/lifetime.png') no-repeat border-box center;
  color: white;
  /*height: 370px;*/
}
div.lifetime h1.lead{
  margin-top: 30px;
}
div.instant {
  background: white url('/static/img/landing/city.png') no-repeat border-box center;
  color: white;
}
div.instant h1.lead{
  margin-top: 30px;
}
/*div.international img {
  margin-top: 40px;
}*/
div.guarantee h1.lead{
  margin-top: 30px;
}
div.guarantee img{
  margin-top:150px;
}
div.guarantee .recommend img{
  margin-top:0;
}
.call-to-action button {
  margin-left: 30px;
}
.alert-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}
.tag-code {
  font-weight: 200;
  font-size: 21px;
}
.tag-reward {
  font-weight: 200;
  font-size: 24px;
}
#tag_reward{
  margin-right:15px;
}
h1.page-title {
  margin-top: 0;
  border-bottom: 1px solid #E7E9EC;
}
#waist {
  min-height: 450px;
}
.input-row {
  margin-bottom: 15px;
}
.hiddenfile {
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.navbar.navbar-thin .nav > li > a.navbar-brand {
  padding: 0 20px;
  float: none;
}
.navbar.navbar-thin .nav > li > a {
  padding: 11px 10px;
}
.navbar.navbar-thin .navbar-brand {
  padding: 0 17px;
}
.navbar.navbar-thin .navbar-inner {
  background: #f1c40f;
}
.navbar .nav > li > a {
  color: white;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #2c3e50;
  background-color: transparent;
}
.bottom-menu.yes-footer {
  background: #f1c40f;
  margin-top: 30px;
  color: white;
}
.bottom-menu.yes-footer a {
  color: inherit;
}
.active .bottom-menu.yes-footer a,
.bottom-menu.yes-footer a:hover,
.bottom-menu.yes-footer a:focus {
  color: #2c3e50;
}
.tag-list-name {
  padding: 60px 0;
}
