ul {
  text-decoration: none;
}
.landing-section h1.lead {
  font-size: 3.5em;
}
.landing-section li {
  font-size: 2em;
  font-weight: 200;
}
.landing-section p {
  font-size: 2.0em;
  font-weight: 200;
  text-align: left;
}
.landing-section {
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 60px;
}
.call-to-action {
  background: none repeat scroll 0 0 #F1C40F;
  color: #FFFFFF;
  border-radius: 6px;
  text-align: center;
  padding-top: 30px;
  height: 100px;
}
div.fast-start {
  background: #00ff00 url('/static/img/landing/jog.png') no-repeat border-box center;
  color: white;
}
div.durable {
  background: #00ff00 url('/static/img/landing/durable_light.png') no-repeat border-box center;
  color: white;
}
div.instant {
  height: auto;
}
div.work-for-you img {
  position: relative;
  top: -100px;
}
div.video-block img {
  position: relative;
  top: -50px;
}
div.video-block {
  height: auto;
}
div.pets img {
  position: relative;
  top: -50px;
}
div.international {
  background: #00ff00 url('/static/img/landing/sail3.png') no-repeat border-box center;
  height: 370px;
  padding-top: 30px;
}
div.international h1 {
  text-align: left;
}
div.lifetime {
  background: #00ff00 url('/static/img/landing/lifetime.png') no-repeat border-box center;
  color: white;
  height: 370px;
}
div.international img {
  margin-top: 40px;
}
.call-to-action button {
  margin-left: 30px;
}
.alert-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}
.tag-code {
  font-weight: 200;
  font-size: 21px;
}
h1.page-title {
  margin-top: 0;
  border-bottom: 1px solid #E7E9EC;
}
#waist {
  min-height: 450px;
}
.input-row {
  margin-bottom: 15px;
}
.hiddenfile {
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.navbar.navbar-thin .nav > li > a.navbar-brand {
  padding: 0 20px;
  float: none;
}
.navbar.navbar-thin .nav > li > a {
  padding: 11px 20px;
}
.navbar.navbar-thin .navbar-brand {
  padding: 0 17px;
}
.navbar.navbar-thin .navbar-inner {
  background: #f1c40f;
}
.navbar .nav > li > a {
  color: white;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #2c3e50;
  background-color: transparent;
}
.bottom-menu.yes-footer {
  background: #f1c40f;
  margin-top: 30px;
  color: white;
}
.bottom-menu.yes-footer a {
  color: inherit;
}
.active .bottom-menu.yes-footer a,
.bottom-menu.yes-footer a:hover,
.bottom-menu.yes-footer a:focus {
  color: #2c3e50;
}
.tag-list-name {
  padding: 60px 0;
}
